* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_text {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px;
}
.global, .local {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3,auto);
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.global{
    width: 500px;
    height: 500px;
    padding: 30px;
}

.local {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
}
.local_grid {
    cursor: pointer;
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px;
    width: 30px;
    height: 30px;
}
.local:first-child,
.local:nth-child(2),
.local:nth-child(3),
.local_grid:first-child,
.local_grid:nth-child(2),
.local_grid:nth-child(3)  {
    border-top: none;
}
.local:first-child,
.local:nth-child(4),
.local:nth-child(7),
.local_grid:first-child,
.local_grid:nth-child(4),
.local_grid:nth-child(7) {
    border-left: none;
}
.local:nth-child(3),
.local:nth-child(6),
.local:nth-child(9),
.local_grid:nth-child(3),
.local_grid:nth-child(6),
.local_grid:nth-child(9) {
    border-right: none;
}
.local:nth-child(7),
.local:nth-child(8),
.local:nth-child(9),
.local_grid:nth-child(7),
.local_grid:nth-child(8),
.local_grid:nth-child(9) {
    border-bottom: none;
}
