* {
    box-sizing: border-box;
}
body {
    background-color: rgb(188, 199, 211);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    margin-top: 50%;
}
.header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 600px;
    align-items: center;
    height: 100px;
}
#timer {
    font-size: 30px;
    font-weight: bold;
}
#headerText {
    font-size: 30px;
    font-family: fantasy;
}
#headerText > * {
    margin: 10px;
}
.reset {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
#mute {
    margin-left: 50px;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
#mute:checked {
    background-color: red;
    border-color: white;
    background-color: green;
}
#mute:hover {
    font-size: 30px;
    cursor: grab;
}
#muteButton {
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
#muteButton:hover {
    font-size: 30px;
}

.global, .local {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3,auto);
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.global{
    width: 600px;
    height: 600px;
    padding: 30px;
}

.local {
    width: 180px;
    height: 180px;
    padding: 10px;
    border: 4px double black;
}
.local_grid_cell {
    cursor: pointer;
    flex-grow: 1;
    border: 3px solid black;
    padding: 10px;
    width: 40px;
    height: 40px;
}
.local:first-child,
.local:nth-child(2),
.local:nth-child(3),
.local_grid_cell:first-child,
.local_grid_cell:nth-child(2),
.local_grid_cell:nth-child(3)  {
    border-top: none;
}
.local:first-child,
.local:nth-child(4),
.local:nth-child(7),
.local_grid_cell:first-child,
.local_grid_cell:nth-child(4),
.local_grid_cell:nth-child(7) {
    border-left: none;
}
.local:nth-child(3),
.local:nth-child(6),
.local:nth-child(9),
.local_grid_cell:nth-child(3),
.local_grid_cell:nth-child(6),
.local_grid_cell:nth-child(9) {
    border-right: none;
}
.local:nth-child(7),
.local:nth-child(8),
.local:nth-child(9),
.local_grid_cell:nth-child(7),
.local_grid_cell:nth-child(8),
.local_grid_cell:nth-child(9) {
    border-bottom: none;
}
[data-winner="X"],
[data-winner="O"],
[data-winner="none"] {
    cursor: not-allowed;
}
[data-winner="O"]::after {
    content: 'O';
    color: green;
    transform: matrix(14, 1, 2, 10, 0, 0);
    font-family: 'Brush Script MT', cursive;
}

[data-winner="X"]::after,
[data-winner="X"]::before  {
    content: 'X';
    color: red;
    transform: matrix(14, 1, 2, 10, 0, 0);
    font-family: 'Brush Script MT', cursive;
}
[data-winner="none"]::after {
    content: 'DRAW';
    color: rgb(61, 59, 59);
    transform: matrix(3, 1, -3, 3, 0, 0);
    font-family: 'Brush Script MT', cursive;
    text-decoration-style: double;
    text-decoration-line: underline;
}
[data-available="false"]>* {
    display: none;
}

.X,
.O {
    cursor: not-allowed;
    text-align: center;
    font-size: large;
}
.X {
    color: red;

}
.O {
    color: green;
}
/* Results popup div */
.hiddenResults {
    position: absolute;
    display: none;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup {
    position: absolute;
    display: block;
    z-index: 1;
    background-color: rgb(16, 17, 13);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.results {
    margin-top: 40%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}
#dialogInfo {
    padding: 0px;
    width: 400px;
    height: 120px;
    text-align: center;
}
h4 {
    background-color: red;
    width: 100%;
    margin: 0px;
    font-weight: 900;
}
.infoMessages {
    font-family: fantasy;

}
/* styling dices */

.cube {
    width: 50px;
    height: 50px;
    position: relative;
    perspective: 500px;
    perspective-origin: 50% 100%;

}
.dice {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 200ms;
}
#dice-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 42px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    text-align: center;
    border-radius: 10%;
}
.front-1 {
    transform: translateZ(25px);
}
.back-2 {
    transform: rotateX(-180deg) translateZ(25px);
    
}
.top-3 {
    transform: rotateX(90deg) translateZ(25px);
    
}
.bottom-4 {
    transform: rotateX(-90deg) translateZ(25px);
}
.right-5 {
    transform: rotateY(-90deg) translateZ(25px);
}
.left-6 {
    transform: rotateY(90deg) translateZ(25px);
}
span {
    font-size: 90px;
}
.X_inputs, .O_inputs {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.user_Information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.player_Inputs {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
}
label {
    color: white;
    margin-bottom: 10px;
}
.hidden_Inputs {
    position: absolute;
    display: none;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup_start {
    position: absolute;
    display: block;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(16, 17, 13);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup_start >* {
    margin-top: 100px;
}
.startGameBtn {
    margin-left: 30%;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 900;
    border-style:ridge;
    appearance: button;
    box-sizing: border-box;
    text-align: center;
    padding: 13px 16px;
    cursor: pointer;
    font-family: fantasy;
    background-color: #1899D6;
    color: #FFFFFF;
    border-width: 0 4px 10px 0;
    border-radius: 16px;
    border-color: #084f70;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;
}
.startGameBtn:hover {
    background-clip: padding-box;
    cursor: progress;
    filter: brightness(2.1);
    font-size: 25px;
}
label {
    font-family: fantasy;
    font-size: 23px;
}
.userInput{
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    cursor: text;
    height: 35px;
    border-width: 6px 3px;
    border-color: rgb(32, 12, 88);
    background-color: darkorchid;
    
}
.game_Rules {
    color: white;
    text-align: center;
    font-family: fantasy;
}
p {
    font-size: 20px;
}
h3,h2 {
    margin-bottom: 0px;
    margin-bottom: 0px;
}
h3 {
    margin-top: 0px;
    margin-top: 0px;
}