* {
    box-sizing: border-box;
}
body {
    background-color: rgb(188, 199, 211);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px;
    align-items: center;
    height: 100px;
}
#timer {
    font-size: 30px;
    font-weight: bold;
}
#headerText {
    font-size: 30px;
    font-family: fantasy;
}
#headerText > * {
    margin: 10px;
}
.reset {
    /* width: fit-content;
    height: fit-content; */
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.global, .local {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3,auto);
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.global{
    width: 600px;
    height: 600px;
    padding: 30px;
}

.local {
    width: 180px;
    height: 180px;
    padding: 10px;
    border: 4px double black;
}
.local_grid_cell {
    cursor: pointer;
    flex-grow: 1;
    border: 3px solid black;
    padding: 10px;
    width: 40px;
    height: 40px;
}
.local:first-child,
.local:nth-child(2),
.local:nth-child(3),
.local_grid_cell:first-child,
.local_grid_cell:nth-child(2),
.local_grid_cell:nth-child(3)  {
    border-top: none;
}
.local:first-child,
.local:nth-child(4),
.local:nth-child(7),
.local_grid_cell:first-child,
.local_grid_cell:nth-child(4),
.local_grid_cell:nth-child(7) {
    border-left: none;
}
.local:nth-child(3),
.local:nth-child(6),
.local:nth-child(9),
.local_grid_cell:nth-child(3),
.local_grid_cell:nth-child(6),
.local_grid_cell:nth-child(9) {
    border-right: none;
}
.local:nth-child(7),
.local:nth-child(8),
.local:nth-child(9),
.local_grid_cell:nth-child(7),
.local_grid_cell:nth-child(8),
.local_grid_cell:nth-child(9) {
    border-bottom: none;
}
[data-winner="X"],
[data-winner="O"],
[data-winner="none"] {
    cursor: not-allowed;
}
[data-winner="O"]::after {
    content: 'O';
    color: green;
    transform: matrix(14, 1, 2, 10, 0, 0);
    font-family: 'Brush Script MT', cursive;
}

[data-winner="X"]::after,
[data-winner="X"]::before  {
    content: 'X';
    color: red;
    transform: matrix(14, 1, 2, 10, 0, 0);
    font-family: 'Brush Script MT', cursive;
}
[data-winner="none"]::after {
    content: 'DRAW';
    color: rgb(61, 59, 59);
    transform: matrix(3, 1, -3, 3, 0, 0);
    font-family: 'Brush Script MT', cursive;
    text-decoration-style: double;
    text-decoration-line: underline;
}
[data-available="false"]>* {
    display: none;
}

.X,
.O {
    cursor: not-allowed;
    text-align: center;
    font-size: large;
}
.X {
    color: red;

}
.O {
    color: green;
}
/* Results popup div */
.hiddenResults {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup {
    position: absolute;
    display: block;
    z-index: 1;
    background-color: rgb(16, 17, 13);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.results {
    margin-top: 40%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}
#dialogInfo {
    padding: 0px;
    width: 400px;
    height: 120px;
    text-align: center;
}
h4 {
    background-color: red;
    width: 100%;
    margin: 0px;
    font-weight: 900;
}
.infoMessages {
    font-family: fantasy;

}




